.NavbarContainer {
    background-color: var(--secondary-color);
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7rem;
}

.links {
    display: flex;
    justify-content: space-around;
    width: 30rem;
    font-size: 2.25rem;
}

.links li {
    list-style-type: none;
}

.links li a {
    color: black;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.links li a:hover {
    color: var(--primary-variant-color);
}

#logo {
    height: 6.7vw;
}