* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary-color: #EFC6D4;
  --secondary-color: #D950AE;
  --primary-variant-color: #AAE847;
  --secondary-variant-color: #EEEDEE;
}